@{
    ViewBag.Title = "Add user";
    ViewBag.dashboard = "Security";
    ViewBag.dashboardSmall = "Mapping User";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
}


<style>
    #GridRecipient table tr td {
        padding: 2px;
    }

    #GridRecipientAdd table tr td {
        padding: 2px;
    }
</style>

<body>
    <section class="content">
        <ol class="breadcrumb breadcrumb-bg-pink">
            <li><a href="javascript:void(0);"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; <label>Home</label></a></li>
            <li class="active"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;<label id="iTxtDashServer">Mapping User</label></li>
        </ol>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Akses Mapping User
                        </h2>
                        <ul class="header-dropdown m-r--5"></ul>
                    </div>
                    <div class="body">
                        <input type="hidden" id="urlPath" name="urlPath" value="@ViewBag.pathParent" />
                        <input type='button' class='btn btn-primary' value='Tambah User' onclick="showPopup()" />
                        <br /> <br />
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>




<script>
	function showPopup(){
		window.location="@ViewBag.pathParent/AddUser";
	}
</script>
<script src="@ViewBag.pathParent/Js/MappingUser.js"></script>