@{
    ViewBag.Title = "Monitoring Budget";
    ViewBag.dashboard = "View HM Safety";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
}

<!-- /.content-header -->
<!-- Main content -->
<input type="hidden" id="urlPath" value="@ViewBag.pathParent" />
<input type="hidden" id="pid" />
<input type="hidden" id="gp" value="@ViewBag.GP" />

<div class="modal-header">
    <button type="button" onclick="btn_create()" id="btn_create" style="width:25%" class="btn btn-info">CREATE HM</button>
    <button type="button" onclick="btn_view()" id="btn_view" style="width:25%" class="btn btn-info">VIEW</button>
    <button type="button" onclick="btn_viewall()" id="btn_view" style="width:25%" class="btn btn-info">VIEW ALL HM</button>
</div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Add New Record</h4>
            </div>
            <div id="HM_modal" class="modal-body">
                <form id="form_HM" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-1" style="text-align:left;" for="id">ID</label>
                        <input type="text" class="col-sm-3" style="width:50%" id="id">
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="periode">Periode (yyyy/mm):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="width:160%" id="periode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="pic">PIC:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="width:160%" value="@Html.Raw(ViewBag.nama_in)" id="pic">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="dept">Department:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="width:160%" id="dept">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="site">Site:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="width:160%" id="site">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="jenismesin">Jenis Mesin :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="width:160%" id="jenismesin">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="jumlah">Jumlah :</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" style="width:160%" id="jumlah">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="jam">Jam :</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" style="width:160%" id="jam">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="hari">Hari :</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" style="width:160%" id="hari">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_simpan" style="width:200%" class="btn btn-outline-success">SIMPAN</button>
                <button type="button" style="width:200%;" class="btn btn-outline-warning" data-dismiss="modal">BATAL</button>
            </div>
        </div>

    </div>
</div>



<script>
    $(document).ready(function () {
        View();
        dd_dept();
        dd_site();
    });
    function View() {
        $("#grid").empty();
        var x = Edit;
        var grid = $("#grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: $("#urlPath").val() + "/HMSafety/Read",
                        contentType: "application/json",
                        type: "POST",
                        cache: false,
                    },
                    update: {
                        url: $("#urlPath").val() + "/HMSafety/Update",
                        contentType: "application/json",
                        type: "POST",
                        cache: false,
                        complete: function (data) {

                            if (data.status) {
                                alert(data.responseJSON.remarks);
                                $("#grid").data("kendoGrid").dataSource.read()
                            } else {
                                alert(data.error);
                                $("#grid").data("kendoGrid").dataSource.read()
                            }
                        }
                    },
                    destroy: {
                        url: $("#urlPath").val() + "/HMSafety/Delete",
                        contentType: "application/json",
                        type: "POST",
                        cache: false,
                        complete: function (data) {
                            alert(data.responseJSON.remarks);
                            if (data.responseJSON.status==true) {
                                //alert(data.remarks)
                                $("#grid").data("kendoGrid").dataSource.read()
                            } else {
                                alert(data.error);
                                $("#grid").data("kendoGrid").dataSource.read()
                            }
                        }
                    },
                    parameterMap: function (data, operation) {
                        return kendo.stringify(data)
                    }
                },
                pageSize: 1000,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
                schema: {
                    data: "Data",
                    total: "Total",
                    model: {
                        id: "PID_HOURS_MACHINE",
                        fields: {
                            PERIOD: { type: "string", filterable: true, sortable: true, editable: true, validation: { required: true }},
                            PIC: { type: "string", filterable: true, sortable: true, editable: true },
                            DEPARTMENT: { type: "string", filterable: true, sortable: true, editable: true },
                            SITE: { type: "string", filterable: true, sortable: true, editable: true },
                            JUMLAH: { type: "number", filterable: true, sortable: true, editable: true, validation: { required: true } },
                            JAM: { type: "number", filterable: true, sortable: true, editable: true, validation: { min: 0, required: true } },
                            HARI: { type: "number", filterable: true, sortable: true, editable: true, validation: { required: true } },
                            HOURS_MACHINE: { type: "number", filterable: true, sortable: true, editable: true, validation: { required: true } },
                            UPDATE_DATE: { type: "date", filterable: true, sortable: true, editable: true },
                            MODIFIED_DATE: { type: "date", filterable: true, sortable: true, editable: true },
                        }
                    }
                }
            },
            height: 500,
            filterable: true,
            sortable: true,
            pageable: true,
            resizable: true,
            editable: {
                mode: "popup"
            },
            toolbar: [
             {
                 name: "excel",
                 imageClass: '<button type="button" button id="btn_export" class="btn btn-info"><span class="glyphicon glyphicon-export"></span> Export To Excel</button>'
             }, ],

            excel: {
                fileName: "UploadSuccess.xlsx",
                AllPages: true,
                filterable: true
            },
            columns: [
               {
                   command: [{ name: "update-data", text: "Edit", click: Edit, iconClass: "glyphicon glyphicon-edit spasi-kanan" }, "destroy"], title: "ACTION", width: 120
               },
                { field: "PERIOD", title: "Periode", width: 130 },
                { field: "PIC", title: "PIC", width: 130 },
                { field: "DEPARTMENT", title: "Department", width: 130 },
                { field: "SITE", title: "Site", width: 130 },
                { field: "JENIS_MESIN", title: "Jenis Mesin", width: 130 },
                { field: "JUMLAH", title: "Jumlah", width: 130 },
                { field: "JAM", title: "Jam", width: 130 },
                { field: "HARI", title: "Hari", width: 130 },
                { field: "HOURS_MACHINE", title: "HM", width: 130, format: "{0:n2}" },
                { field: "UPDATE_DATE", title: "UPDATE_DATE ", width: 130, format: "{0:M/d/yyyy h:mm:ss}" },
                { field: "MODIFIED_DATE", title: "MODIFIED_DATE ", width: 130, format: "{0:MM/dd/yyyy h:mm:ss}" }
            ],
            dataBinding: function () {
                window.rowNo = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            }
        });

        $(document).ready(function () {
            // create DatePicker from input HTML element
            $("#periode").kendoDatePicker();
        });
    }

    function btn_create() {
        $("#id").prop('disabled', true).val("");
        $("#periode").val("");
        $("#pic").val("");
        $("#dept").data("kendoDropDownList").value(-1);
        $("#site").data("kendoDropDownList").value(-1);
        $("#jenismesin").val("");
        $("#jumlah").val("");
        $("#jam").val("");
        $("#hari").val("");
        save_method = 'add';
        $('#myModal').modal({
            show: true,
            keyboard: false,
            backdrop: 'static'
        });
        var start = $("#periode").kendoDatePicker({
            format: "yyyyMM",
            dateInput: false,
            change: function () {
                var start = $("#periode").val();
            }
        }).data("kendoDatePicker");
    }
    function Edit(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        //cek valid period
        var isValidDate = false;

        //ambil bulan sekarang
        var now = new Date();
        var month = now.getMonth() + 1;
        var sliceMonth = ('0' + month).slice(-2);

        //ambil bulan dari table
        var tPeriode = dataItem.PERIOD;
        var tMonth = tPeriode.substr(4, 2);
        
        

        if (sliceMonth == tMonth) {
            isValidDate = true;
        } else {
            isValidDate = false;
        }

        $("#id").prop('disabled', true);
        $("#periode").val("");
        $("#pic").val("");
        $("#dept").data("kendoDropDownList").value(-1);
        $("#site").data("kendoDropDownList").value(-1);
        $("#jenismesin").val("");
        $("#jumlah").val("");
        $("#jam").val("");
        $("#hari").val("");
        $("#id").val(dataItem.PID_HOURS_MACHINE);
        $("#periode").val(dataItem.PERIOD);
        $("#pic").val(dataItem.PIC);
        $("#dept").data("kendoDropDownList").value(dataItem.DEPARTMENT);
        $("#site").data("kendoDropDownList").value(dataItem.SITE);
        $("#jenismesin").val(dataItem.JENIS_MESIN);
        $("#jumlah").val(dataItem.JUMLAH);
        $("#jam").val(dataItem.JAM);
        $("#hari").val(dataItem.HARI);
        //$("#hari").val(isValidDate);
       
        save_method = "update";
        $('#myModal').modal({
            show: isValidDate,
            keyboard: false,
            backdrop: 'static'
        });
        var start = $("#periode").kendoDatePicker({
            format: "yyyyMM",
            dateInput: false,
            change: function () {
                var start = $("#periode").val();
            }
        }).data("kendoDatePicker");
    }
    $("#btn_simpan").click(function () {
        var url = "";
        if (save_method == "update") {
            url_ = $("#urlPath").val() + "/HMSafety/Update";
        } else {
            url_ = $("#urlPath").val() + "/HMSafety/Insert";
        }

        var stbl_m_driver = {
            PID_HOURS_MACHINE: $("#id").val(),
            PIC: $("#pic").val(),
            DEPARTMENT: $("#dept").val(),
            SITE: $("#site").val(),
            PERIOD: $("#periode").val(),
            JENIS_MESIN: $("#jenismesin").val(),
            JUMLAH: $("#jumlah").val(),
            JAM: $("#jam").val(),
            HARI: $("#hari").val(),
        }
        var datepicker = $("#periode").data("kendoDatePicker");
        var value = datepicker.value();
        var req_date = kendo.toString(value, "yyyyMM");

        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: url_,
            data: JSON.stringify(stbl_m_driver),
            success: function (response) {
                alert(response.remarks)
                $('#myModal').modal('toggle');
                    $("#grid").data("kendoGrid").dataSource.read();
                    $("#grid").data("kendoGrid").refresh();

            }
        });
    });
    function btn_view() {
        //debugger;
        window.location.href = $("#urlPath").val() + "/HMSafety";
    }
    function btn_viewall() {
        //debugger;
        window.location.href = $("#urlPath").val() + "/ViewHM";
    }
    function btn_create() {
        //debugger;
        window.location.href = $("#urlPath").val() + "/HM";
    }
    function dd_dept() {
        var ds_district = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: $("#urlPath").val() + "/HM/ReadDept",
                    contentType: "application/json",
                    type: "POST",
                    cache: false
                }
            },
            schema: {
                data: "Data",
                total: "Total"
            }
        });
        $("#dept").kendoDropDownList({
            autoBind: true,
            dataSource: ds_district,
            dataTextField: "DEPT_CODE",
            dataValueField: "DEPT_CODE",
            optionLabel: "Pilih...",
            filter: "contains",
            change: function (e) {
                var dataItem = this.dataItem(e.sender._oldIndex);
            }
        }).data("kendoDropDownList");
    }
    function dd_site() {
        var ds_district = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: $("#urlPath").val() + "/HM/ReadSite",
                    contentType: "application/json",
                    type: "POST",
                    cache: false
                }
            },
            schema: {
                data: "Data",
                total: "Total"
            }
        });
        $("#site").kendoDropDownList({
            autoBind: true,
            dataSource: ds_district,
            dataTextField: "DSTRCT_CODE",
            dataValueField: "DSTRCT_CODE",
            optionLabel: "Pilih...",
            filter: "contains",
            change: function (e) {
                var dataItem = this.dataItem(e.sender._oldIndex);
            }
        }).data("kendoDropDownList");
    }
</script>



