@{
    ViewBag.Title = "Monitoring Safety";
    ViewBag.dashboard = "Machine Safety";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
}

<!-- /.content-header -->
<!-- Main content -->
<input type="hidden" id="urlPath" value="@ViewBag.pathParent" />
<input type="hidden" id="pid" />
<input type="hidden" id="gp" value="@ViewBag.GP" />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Add New Record</h4>
            </div>
            <div id="ms_modal" class="modal-body">
                <form id="form_ms" class="form-horizontal">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" style="width:160%" id="id">
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="periode">Periode:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="width:160%" id="periode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="hm">NUMBER OF MACHINE HRS MONTH ACTUAL:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" style="width:160%" id="hm">
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-sm-4" style="text-align:left;" for="machinessite">MACHINES ON SITE:</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" style="width:160%" id="machinesite">
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="damagekurang">DAMAGE < US$ 1000 MONTH ACTUAL:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" style="width:160%" id="damagekurang">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="damagelebih">DAMAGE > US$ 1000 MONTH ACTUAL:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" style="width:160%" id="damagelebih">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" style="text-align:left;" for="estimated">ESTIMATED OF DAMAGE:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" style="width:160%" id="estimated">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_simpan" style="width:200%" class="btn btn-outline-success">SIMPAN</button>
                <button type="button" style="width:200%;" class="btn btn-outline-warning" data-dismiss="modal">BATAL</button>
            </div>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
        loadgrid();
        dd_HM();
        dd_totalHM();
    });

    function loadgrid() {
        $("#grid").empty();
        var grid = $("#grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: $("#urlPath").val() + "/MachineSafety/Read",
                        contentType: "application/json",
                        type: "POST",
                        cache: false,
                    },
                    create: {
                        url: $("#urlPath").val() + "/MachineSafety/Insert",
                        contentType: "application/json",
                        type: "POST",
                        complete: function (data) {
                            alert(data.responseJSON.remarks);
                        }
                    },
                    update: {
                        url: $("#urlPath").val() + "/MachineSafety/Update",
                        contentType: "application/json",
                        type: "POST",
                        cache: false,
                        complete: function (data) {

                            if (data.status) {
                                alert(data.responseJSON.remarks);
                                //alert(data.remarks)
                                $("#grid").data("kendoGrid").dataSource.read()
                            } else {
                                alert(data.error);
                                $("#grid").data("kendoGrid").dataSource.read()
                            }
                        }
                    },
                    destroy: {
                        url: $("#urlPath").val() + "/MachineSafety/Delete",
                        contentType: "application/json",
                        type: "POST",
                        cache: false,
                        complete: function (data) {
                            alert(data.responseJSON.remarks);
                            if (data.responseJSON.status == true) {
                                //alert(data.remarks)
                                $("#grid").data("kendoGrid").dataSource.read()
                            } else {
                                alert(data.error);
                                $("#grid").data("kendoGrid").dataSource.read()
                            }
                        }
                    },
                    parameterMap: function (data, operation) {
                        return kendo.stringify(data)
                    }
                },
                pageSize: 1000,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
                schema: {
                    data: "Data",
                    total: "Total",
                    model: {
                        id: "PID_MACHINE",
                        fields: {
                            MONTHS: { type: "string", filterable: true, sortable: true, editable: true, validation: { required: true } },
                            MACHINE_ON_SITE: { type: "number", filterable: true, sortable: true, editable: true },
                            MONTH_ACTUAL_MACHINE: { type: "number", filterable: true, sortable: true, editable: true, validation: { required: true } },
                            PROGRESSIVE_YTD_MACHINE: { type: "number", filterable: true, sortable: true, editable: true, validation: { min: 0, required: true } },
                            MONTH_ACTUAL_PROPERTY_INCIDENT_MIN: { type: "number", filterable: true, sortable: true, editable: true, validation: { required: true } },
                            PROGRESSIVE_YTD_PROPERTY_INCIDENT_MIN: { type: "number", filterable: true, sortable: true, editable: true, validation: { required: true } },
                            MONTH_ACTUAL_PROPERTY_INCIDENT_MAX: { type: "number", filterable: true, sortable: true, editable: true, validation: { min: 0, required: true } },
                            PROGRESSIVE_YTD_PROPERTY_INCIDENT_MAX: { type: "number", filterable: true, sortable: true, editable: true, validation: { min: 0, required: true } },
                            MONTH_ACTUAL_EST_DAMAGE: { type: "number", filterable: true, sortable: true, editable: true, validation: { required: true } },
                            PROGRESSIVE_YTD_TOTAL_VALUE: { type: "number", filterable: true, sortable: true, editable: true, validation: { required: true } },
                            MONTH_ACTUAL_PROPERTY_FREQ: { type: "number", filterable: true, sortable: true, editable: true, validation: { required: true } },
                            //PROGRESSIVE_YTD_DAMAGE_RATE: { type: "number", filterable: true, sortable: true, editable: true, validation: { required: true } },
                        }
                    }
                }
            },
            height: 500,
            filterable: true,
            sortable: true,
            pageable: true,
            resizable: true,
            editable: {
                mode: "popup"
            },
            toolbar: [
            {
                template: '<button type="button" id="btn_add" class="k-button k-button-icontext" onclick="open_wnd_add()"><span class="glyphicon glyphicon-plus"></span> Add New Record</button>'
            },
             {
                 name: "excel",
                 imageClass: '<button type="button" button id="btn_export" class="btn btn-info"><span class="glyphicon glyphicon-export"></span> Export To Excel</button>'
             }, ],

            excel: {
                fileName: "UploadSuccess.xlsx",
                AllPages: true,
                filterable: true
            },
            columns: [
                  {
                      command: [{ name: "update-data", text: "Edit", click: Edit, iconClass: "glyphicon glyphicon-edit spasi-kanan" }, "destroy"], title: "ACTION", width: 170
                  },
                { field: "MONTHS", title: "Periode", width: 130 },
                {
                    title: "Number of vehicles and",
                    columns: [{ field: "MACHINE_ON_SITE", title: "Machines On Site", width: 177 }]
                },
                 {
                     title: "NUMBER OF MACHINE HRS VEHICLE AND RUN ON SITE",
                     columns: [{ field: "MONTH_ACTUAL_MACHINE", title: "Month Actual", width: 170, format: "{0:n2}" },
                     { field: "PROGRESSIVE_YTD_MACHINE", title: "Progressive YTD", width: 170, format: "{0:n2}" }]
                 },
                  //{
                  //    title: "VEHICLE AND RUN ON SITE",
                  //    columns: [{ field: "PROGRESSIVE_YTD_MACHINE", title: "Progressive YTD", width: 170, format: "{0:n2}" }]
                  //},
                {
                    title: "PROPERTY INCIDENTS DAMAGE <US$ 1000",
                    columns: [{ field: "MONTH_ACTUAL_PROPERTY_INCIDENT_MIN", title: "Month Actual", width: 170, format: "{0:n2}" },
                        { field: "PROGRESSIVE_YTD_PROPERTY_INCIDENT_MIN", title: "Progressive YTD", width: 170, format: "{0:n2}" }]
                },
               {
                   title: "PROPERTY INCIDENTS DAMAGE <US$ 1000",
                   columns: [{ field: "MONTH_ACTUAL_PROPERTY_INCIDENT_MAX", title: "Month Actual", width: 170, format: "{0:n2}" },
                { field: "PROGRESSIVE_YTD_PROPERTY_INCIDENT_MAX", title: "Progressive YTD", width: 170, format: "{0:n2}" }]
               },
                 {
                     title: "PROPERTY INCIDENTS DAMAGE <US$ 1000",
                     columns: [{ field: "MONTH_ACTUAL_EST_DAMAGE", title: "Month Actual", format: "{0:c}", width: 170 },
                 { field: "PROGRESSIVE_YTD_TOTAL_VALUE", title: "Progressive YTD", width: 170, format: "{0:c}" }]
                 },

                {
                    title: "PROPERTY INCIDENTS DAMAGE <US$ 1000",
                    columns: [{ field: "MONTH_ACTUAL_PROPERTY_FREQ", title: "Month Actual", width: 170, format: "{0:n2}" },
                { field: "PROGRESSIVE_YTD_DAMAGE_RATE", title: "Progressive YTD", width: 170, format: "{0:n2}" }]
                },
             
            ],
            dataBinding: function () {
                window.rowNo = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            }
        });
    }
    function dd_HM() {
        var ds_district = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: $("#urlPath").val() + "/MachineSafety/ReadHM",
                    contentType: "application/json",
                    type: "POST",
                    cache: false
                }
            },
            schema: {
                data: "Data",
                total: "Total"
            }
        });
        $("#periode").kendoDropDownList({
            autoBind: true,
            dataSource: ds_district,
            dataTextField: "PERIOD",
            dataValueField: "PERIOD",
            optionLabel: "Pilih...",
            filter: "contains",
            change: function (e) {
                var dataItem = this.dataItem(e.sender._oldIndex);
            }
        }).data("kendoDropDownList");
    }
    function dd_totalHM() {
        $("#periode").on("change", function () {
            $.ajax({
                type: "POST",
                url: $("#urlPath").val() + "/MachineSafety/ReadTotal?speriode=" + $("#periode").val(),
                contentType: "application/json; charset=utf-8",
                data: "",
                success: function (data) {
                    //console.log();
                    $("#hm").val(data[0].total);
                },
                error: function () {
                    alert("error");
                }
            });
        });
    }
    function open_wnd_add() {
        $("#id").prop('disabled', true).val("");
        $("#periode").data("kendoDropDownList").value(-1);
        $("#hm").val("");
        $("#machinesite").val("");
        $("#damagekurang").val("");
        $("damagelebih").val("");
        $("#estimated").val("");

        save_method = 'add';
        $('#myModal').modal({
            show: true,
            keyboard: false,
            backdrop: 'static'
        });
    }
    function Edit(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#id").prop('disabled', true).val("");
        $("#periode").data("kendoDropDownList").value(-1);
        $("#hm").val("");
        $("#machinesite").val("");
        $("#damagekurang").val("");
        $("damagelebih").val("");
        $("#estimated").val("");

        $("#id").val(dataItem.PID_MACHINE);
        $("#periode").data("kendoDropDownList").value(dataItem.MONTHS);
        $("#hm").val(dataItem.MONTH_ACTUAL_MACHINE);
        $("#machinesite").val(dataItem.MACHINE_ON_SITE);
        $("#damagekurang").val(dataItem.MONTH_ACTUAL_PROPERTY_INCIDENT_MIN);
        $("damagelebih").val(dataItem.MONTH_ACTUAL_PROPERTY_INCIDENT_MAX);
        $("#estimated").val(dataItem.MONTH_ACTUAL_EST_DAMAGE);

        save_method = "update";
        $('#myModal').modal({
            show: true,
            keyboard: false,
            backdrop: 'static'
        });
    }
    $("#btn_simpan").click(function () {
            var url = "";
            if (save_method == "update") {
                url_ = $("#urlPath").val() + "/MachineSafety/Update";
            } else {
                url_ = $("#urlPath").val() + "/MachineSafety/Insert";
            }
            var stbl_m_driver = {
                PID_MACHINE: $("#id").val(),
                MONTHS: $("#periode").val(),
                MACHINE_ON_SITE: $("#machinesite").val(),
                MONTH_ACTUAL_MACHINE: $("#hm").val(),
                MONTH_ACTUAL_PROPERTY_INCIDENT_MIN: $("#damagekurang").val(),
                MONTH_ACTUAL_PROPERTY_INCIDENT_MAX: $("#damagelebih").val(),
                MONTH_ACTUAL_EST_DAMAGE: $("#estimated").val(),
            }

            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: url_,
                data: JSON.stringify(stbl_m_driver),
                success: function (response) {
                    alert(response.remarks)
                    $('#myModal').modal('toggle');
                    $("#grid").data("kendoGrid").dataSource.read();
                    $("#grid").data("kendoGrid").refresh();

                }
            });
        });

</script>



